body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: sans-serif;
  line-height: 1.6;
  background-color: cadetblue;
  color: #fbf5f3;
}

.wrapper {
  width: 25rem;
  height: 80vh;
  padding: 1.25rem;
  border: solid 1px #fbf5f3;
  display: grid;
  grid-template-rows: 1fr auto;
}

button {
  background-color: darkgoldenrod;
  color: #fbf5f3;
  font-size: 1rem;
  padding: 0.75rem;
  border: transparent;
  border-radius: 2px;
  transition: opacity 0.3s;
}

button[disabled] {
  opacity: 0.4;
}

.terms-and-conditions {
  overflow-y: scroll;
}
